SUPABASE_URL=https://gxnusrhlalhwspvhwkmm.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imd4bnVzcmhsYWxod3Nwdmh3a21tIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODYzNDEwMywiZXhwIjoyMDk0MjEwMTAzfQ.ePMIV6f19XhwqCtsEdqoc3nbOBx-1CMKzX1Yq_A5Q0s
GEMINI_API_KEY=AIzaSyB6LkumhDaFg_MGh9Vt0VYDTsz6VgwAEVQ
